<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <style>
        body,html{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            width: 100vw;
            height: auto;
            overflow-x: hidden;
        }
        .wrap{
            position: relative;
            height: 100%;
            width: 100%;
            margin-bottom: 100px;
        }
        .center-container {
            min-width: 20%;
            max-width: 80%;
            margin: 0 auto;
            margin-top: 100px;
            text-align: left;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
        }

        .center-container h1 {
            font-size: 26px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .center-container p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .next {
            padding: 20px;
            border-radius: 20px;
            background-color: lightgray;
            border: none;
            margin-top: 20px;
            cursor: pointer;
        }

        .next a {
            text-decoration: none;
            color: black;
        }

        @media (max-width: 768px) {
            
            .center-container h1 {
                font-size: 20px;
                margin-top: 15px;
                margin-bottom: 8px;
            }

            .center-container p {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
        @media screen and (max-width: 600px) {
            .next{
                padding-left: 40px;
                padding-right: 40px;
            }
            .next a{
                font-size: 16px;
            }
        }
        .right__ img{
            width: 250px;
            height: 250px;
        }
        .left__ img{
            height: 125px;
            width: 170px;
        }
        @media screen and (max-width: 700px) {
            .right__ img{
                width: 150px;
                height: 150px;
            }
            .left__ img{
                width: 120px;
                height: 90px;
            }
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="center-container">
            <h1 style="font-size: 32px;text-align: center;">Parity Consulting - Data Protection Protocols</h1>
            <p>To<br><br>Sonata Software</span>  
            </p> 
            <h1>Safeguarding Data Privacy and Anonymity: Inclusion Survey Data Protection Measures</h1>
            <p>This document outlines the robust data protection measures implemented by Parity Consulting and Training Private Limited (referred to as Parity in this document) and its technical partner Stakeholder Management Consulting(referred to as SHMC in this document) to ensure the confidentiality, anonymity, and secure handling of data collected through the Inclusion Survey.  
            </p>
            <h1>A. Data Collection and Protection:</h1>
            <p>The data collected through the Inclusion Survey is stored securely to ensure confidentiality and integrity. Parity’s technical partner SHMC follows a comprehensive approach to data security, encompassing the TIA triad: confidentiality, integrity, and availability. 
            </p>
            <p>Confidentiality:</p>
            <p>Client data collection occurs through a secure SSL connection.<br>
                Data is stored using encryption methods.<br>
                Our servers are hosted in well-equipped data centers with Firewall, Malware & Ransomware protection or highly secured cloud infrastructure like AWS. 
            </p>
            <p>Data Integrity and Availability:</p>
            <p>Data access is restricted to authorized users through password protection.<br>
                Parity’s technical partner SHMC maintain a well-defined audit trail for data modifications.<br>
                Their servers are backed up with 99.9% uptime commitments and real-time data backup with
                RDS Services.<br>
                They have data restoration services within 10 minutes in case of outages. 
            </p>
            <p>We have implemented controls and measures to minimize data collection, ensuring that only the necessary information is gathered for the survey. This helps us adhere to the principle of data minimization, reducing the risk associated with storing excessive or unnecessary data. 
            </p>
            <h1>B. Data Purging Process:</h1>
            <p>Once the survey is completed and relevant analytics are generated, a copy of the survey response data is provided to the client, and the data is completely deleted from both Parity’s and SHMC’s server. Data purging is automated based on pre-set time stamps established during survey initiation.
            </p>
            <h1>C. Data Deletion:</h1>
            <p>We retain the data for a defined period (6 months) necessary for analysis and reporting. After this period, the data is securely deleted from our systems in compliance with data protection regulations and to respect individuals' rights.
            </p>
            <h1>D. Non-Attributable Data and Anonymity:</h1>
            <p>Data categorization is employed to effectively organize and analyze responses, enabling the identification of patterns, trends, and insights relevant to inclusion within the organization. Categorization is based on themes, topics, or predefined criteria, ensuring that the data is not attributable to any specific individual and safeguarding participant privacy.
            </p>
            <p>To protect user anonymity, it is important to limit data cuts or segmentations that could potentially compromise individuals' privacy or enable identification.
            </p>
            <h1>E. NDA:</h1>
            <p>We prioritize data confidentiality and adhere to strict Non-Disclosure Agreements (NDA) with our clients. The terms defined in the NDA ensure the confidentiality of data shared with us.
            </p>
            <p>By implementing these measures, we maintain the security and privacy of the collected data throughout the entire survey process, from collection to storage, analysis, and eventual deletion.
            </p>
            <p>We fully understand the implications of such data transfer and commitments to manage data instructed by the various regulations and hold Sonata harmless against any claims that may arise from any claims.
            </p>
            <div style="display: flex;justify-content: space-between;">
                <div class="left__">
                    <p>From,</p>
                    <img src="sign.png"alt="">
                    <p>Kalpana Tatavarti<br>
                        Founder & Director,<br>
                        Parity Consulting and Training Private Limited,<br>
                        Bangalore -560094.
                    </p>
                </div>
                <div class="right__" >
                    <img src="seal.png" alt="">
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <button class="next"><a href=<%= backtosurvey %> style="text-decoration: none; color: black;">Back to survey</a></button>
            </div>
        </div>    
    </div>
    
    <script>
        const contElement = document.querySelectorAll(".container");
        const container1 = document.querySelectorAll(".center-container");
        const userAgent = navigator.userAgent;
        
        // Check if the browser is Safari
        const isSafari = userAgent.includes("Safari") && !userAgent.includes("Chrome");
    
        contElement.forEach(element => {
          if (isSafari) {
            element.style.top = "7%";
            element.style.width = "1000px"; 
          } else {
            element.style.top = "50%";
            element.style.width = "1500px";
          }
        });

         container1.forEach(element => {
          if (isSafari) {
            element.style.top = "60%";
             
          } else {
           
          }
        });

        
</script>
</body>
</html>
